@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* button */
.btn {
  @apply rounded-full border-2 py-2.5 px-9 text-base font-medium transition duration-500;
}

.btn-primary {
  @apply border-primary bg-primary text-white hover:border-purple-700 hover:bg-purple-700;
}

.btn-secondary {
  @apply border-purple-200 bg-purple-100 text-primary hover:border-primary;
}

/* Header */
.fixed-nav {
  @apply fixed z-[999] bg-white shadow-md;
}

.shadow-header {
  box-shadow: 0px 6px 60px rgba(22, 28, 51, 0.06);
}

.text-navbar {
  @apply text-base font-normal text-dark transition duration-300 hover:text-primary;
}

/* Hero */
.overlay {
  @apply absolute w-[190px] rounded-xl bg-white py-3.5 px-4 lg:w-[213px];
}

.title-img {
  @apply ml-1.5 text-sm font-medium leading-6 text-slate-900 lg:text-base;
}

.description-img {
  @apply mt-3 text-xs font-normal leading-4.5 text-gray-600 lg:text-sm;
}

.video {
  @apply absolute h-[50px] w-[50px] -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary bg-center bg-no-repeat;
  background-image: url('./assets/icons/icon-play.svg');
  top: 50%;
  left: 50%;
}

/* Clients */
.clients-img {
  @apply w-full sm:w-auto;
}
