@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* button */
.btn {
  @apply rounded-full border-2 py-2.5 px-9 text-base font-medium transition duration-500;
}

.btn-primary {
  @apply border-primary bg-primary text-white hover:border-purple-700 hover:bg-purple-700;
}

.btn-secondary {
  @apply border-purple-200 bg-purple-100 text-primary hover:border-primary;
}

/* Header */
.header-section {
  @apply absolute w-full;
  box-shadow: 0px 6px 60px rgba(22, 28, 51, 0.06);
}

.fixed-nav {
  @apply fixed z-[999] bg-white shadow-md;
}

.nav-link {
  @apply text-base font-normal text-dark transition duration-300 hover:text-primary;
}

/* Hero */
.hero-section {
  @apply pt-36 pb-10 lg:pt-60;
}

.overlay {
  @apply absolute w-[213px] rounded-xl bg-white py-3.5 px-4;
}

.title-img {
  @apply ml-1.5 text-base font-medium leading-6 text-slate-900;
}

.description-img {
  @apply mt-3 text-sm font-normal text-gray-600;
}

.video {
  @apply absolute h-[50px] w-[50px] -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary bg-center bg-no-repeat transition duration-500 hover:bg-purple-700;
  background-image: url('./assets/icons/icon-play.svg');
  top: 50%;
  left: 50%;
}

/* Clients */
.client-section {
  @apply pt-10 md:pt-20;
}

.clients-img {
  @apply w-full sm:w-auto;
}

/* Benefits */
.benefit-section {
  @apply py-20 lg:py-36;
}

.benefit-item {
  @apply mb-7 w-full sm:w-1/2 xl:w-3/12;
}

.benefit-icon {
  @apply mx-auto flex h-14 w-14 items-center rounded-full bg-center bg-no-repeat;
}

.benefit-title {
  @apply pt-5 pb-2.5 text-xl font-medium text-slate-900;
}

.benefit-text {
  @apply text-base font-normal leading-7 text-gray-600;
}

.category-item {
  @apply flex flex-wrap items-center pt-28 lg:pt-40;
}

.overlay-2 {
  @apply absolute w-[235px] rounded-xl bg-white py-3.5 px-4;
}

.sub-header {
  @apply mb-2 text-base font-semibold uppercase text-secondary;
}

.secondary-header {
  @apply text-2xl font-semibold text-slate-900 sm:text-3xl;
}

.paragraph {
  @apply my-7 text-base font-normal leading-7 text-gray-600;
}

.benefits-img {
  @apply relative hidden w-full justify-center lg:flex lg:w-1/2;
}

.circle-img {
  @apply absolute left-14 -top-4 flex h-14 w-14 items-center rounded-full border-4 border-white;
}

/* pricing */
.pricing-section {
  @apply mb-52 h-[1450px] bg-[#4D1DAB] pt-[70px] md:relative md:h-[900px] xl:h-[620px];
}

.pricing-group-item {
  @apply w-full sm:w-3/5 md:w-5/12 lg:w-4/12 xl:w-[310px];
}

.card {
  @apply rounded-[40px] border bg-white px-5 py-8;
}

.list-group-item {
  @apply mb-4 flex items-center text-base font-medium text-slate-900;
}

hr {
  @apply mb-5 border-[#E7E5F4];
}

/* Testimonials */
.testimonial-section {
  @apply mt-20 bg-[#F7F7FB] py-20;
}

.testimonial-item {
  @apply w-full sm:mb-10 sm:w-[287px] lg:mb-0;
}

.testimonial-card {
  @apply rounded-xl bg-white p-5;
}

.testimonial-description {
  @apply my-7 text-base font-normal leading-7 text-gray-600 sm:h-36;
}

/* Footer */
.footer-section {
  @apply bg-[#F7F7FB] pb-10;
}
